<!DOCTYPE html>
<html>
<head>
    <style>
        .logo { max-width: 200px; height: auto; justify-content: center}
        .footer { margin-top: 2em; color: #666666; font-size: 0.9em; }
    </style>
</head>
<body>
<img class="logo" src="./../images/Benue_Produce_and_Logistics_System.jpeg" alt="Benue Produce Logo">
<p>Hello %s,</p>
<p>Thank you for registering with Benue State Produce and Logistics Services.</p>
<p>We are happy to have you on board!</p>
<p>If you did not initiate this registration, please ignore this email.</p>
<div class="footer">
    <p>Best regards,</p>
    <p><strong>Benue State Produce and Logistics Team</strong></p>
</div>
</body>
</html>